* {
 text-shadow: 0 0 0.083em #fae2c9;
 margin: 0;
 padding: 0;
 font-size: 100%;
 font-family:georgia;
 vertical-align: baseline;
-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
word-wrap:break-word;
}

html, body { background-color:#fae2c9;}

#topbar {
 background-color:#005826;
 color:#fae2c9;
 text-align:center;
 height: 95px;
 position:fixed;
 width:100%;
 min-width:920px;
z-index: 1;
border-bottom: #535354 solid 5px;
}

#logo {float:left; position:absolute; left:2%;}
#titoletto { font-size:12px; margin-top:3px; position:absolute;}
#spaziodx { float:right; position:absolute; right:2%;}

.login * { margin: 2px;}
.login  p { margin: 6px;}
.login {
  font:bold 12px georgia; 
	margin-right:2%;
 	float:right;
	text-align:center;
	width:200px;
}

.bottone { margin:20px 5px 10px; height:50px; width:60px;}

.registered a { text-decoration:none; }
.unregistered { display:none !important;}

.comandi a { text-decoration: none;}
.comandi a:hover {cursor:pointer}
.comandi * { vertical-align: middle;}
 
.rigadimensione {height:2px;}

#topbar .registered .DropDown>li>ul {
 left:0;
 width:calc(96% - 480px); 
 overflow: auto;
 margin-left:calc(2% + 240px);
 margin-top:55px;
 position:fixed;
 height:calc(100% - 200px);
 color: #005826;
 font: bold 14px georgia;
background: #fae2c9;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
border: #535354 solid 5px;
z-index: 1;
}

#topbar .registered .DropDown>li:hover { z-index: 2;}

#topbar .registered .DropDown>li:hover:after, #topbar .DropDown>li.click:after {
content: '';
position: absolute;
border-style: solid;
border-width: 0 20px 60px;
border-color: #fae2c9 transparent;
display: block;
width: 0;
z-index: 1;
top: 100%;
left: 17px;
}

#topbar  .registered .DropDown>li:hover:before, #topbar .DropDown>li.click:before {
content: '';
position: absolute;
border-style: solid;
border-width: 0 24px 66px;
border-color: #535354 transparent;
display: block;
width: 0;
z-index: 0;
top: calc(100% - 11px);
left: 13px;
}

.scheda ol  {list-style-type: none; margin:8px; width:180px; white-space: normal;}
.scheda>li{min-width:640px;}
#descrProf { padding-top: 10px; font-variant:small-caps;}
#dati { float:left;}
#log { float:right;}
#profilo .foto {width:180px; height:180px;}
#profilo textarea {
 width:100%;
 height:200px;
 resize: none;
 background: #fae2c9;
 color:#997f64; 
	text-shadow: 0 0 0.083em #997f64;
}
#profilo  .center { width:calc(100% - 450px); min-width: 200px;}
#profilo>li{ height:100%;}

#log li {text-align:left; font: bold 11px georgia;}

progress { color: #005826; } /* IE10 */
progress::-moz-progress-bar { background: #005826; } /* Firefox */
progress::-webkit-progress-value { background: #005826; } /* Chrome */
progress::-webkit-progress-bar { background: #fae2c9;} /* Chrome */
progress {
 width:calc(100% - 90px);
 height: 20px;
 border:1px solid;
 background: #fae2c9; 
   -webkit-appearance: none;
   appearance: none;
	 -moz-appearance: none;
 }
.progresslbl { 
	top:0; 
	position:absolute; 
	color:#997f64;  
	text-shadow: 0 0 0.083em #997f64;
}


#contatti ol {width:calc(100% - 10px); text-align:left; }
#contatti ol>li {display:inline-block; margin:10px;}
#contatti li:hover {cursor:pointer}

#contatti table {width:100%;}
#contatti table caption {overflow:auto;}
#contatti tr {display:inline-block; }
#contatti td img {margin: 2px;}
#contatti {white-space: normal;}
#contatti tbody tr{
 width: 200px;
 height: 75px;
 margin: calc(1% + 3px) calc(1% + 3px) calc(1% + 3px) calc(1% + 3px); 
 border: 5px solid; 
 border-radius: 8px;
 } 

#contatti td[class] { width:126px; text-align:center;}
#contatti th, td {float:left;}
#contatti .nick {  font: bold 12px georgia;}
#contatti .location {  font: bold 10px georgia;}

#contatti .comandi ul { margin:3px;}
#contatti .comandi li {
 margin: 10px;
 font: bold 18px georgia;
 color:#005826;
 text-shadow: 0 0 0.09em #005826;
 }
 #contatti .comandi li:hover {
 color:#997f64;
 text-shadow: 0 0 0.3em #997f64; 
}

#contatti .associazioni {
 color:#997f64;
}



#page {
 right:0; left:0;
 top: 105px;
 position:absolute;
 min-height:calc(100% - 105px);
 text-align:center;
}

#page .comandi{ margin-top: 20px;  text-align:center; width:100%;}

#sponsor { left:0; margin-left:2%;}
#board { right:0; margin-right:2%;}
aside {
 top:0;
 bottom:0;
 width:200px;
 position:absolute;
 padding-top: 28px;
 border-radius:20px 20px 0 0;
 color:#fae2c9;
 background-color:#005826;
 font:bolder 18px georgia;
 text-align:center; 
}

h1 {
 padding-top: 13px;
 font:bold 36px georgia;
 font-variant:small-caps;
}

#bacheca { 
 color:#997f64; 
 max-width:calc(96% - 400px); 
 margin-left:auto; 
 margin-right:auto; 
 }
#bacheca tbody {display: inline-block;} 
#bacheca tbody tr{
 display:inline-block;
 width: 190px;
 height: 280px;
 margin: calc(1% + 3px) calc(1% + 3px) calc(1% + 3px) calc(1% + 3px); 
 border: 5px solid; 
 border-radius: 8px;
 }
 
#bacheca td:first-child  {width:100%;}
#bacheca th, td {display:block;}
#bacheca  td {padding:2px;}

#bacheca * { text-shadow: 0 0 0.083em #997f64;}
#bacheca .comandi ul { margin:3px;}
#bacheca .comandi a { margin: 10px; font: bold 18px georgia; color:#997f64;}
#bacheca .comandi a:hover, #bacheca .comandi li.click>a {
 color:#005826;
 text-shadow: 0 0 0.3em #005826; 
}

#board .comandi { margin-top:23px;}
#board .comandi ul { margin:1px;}
#board .comandi a { font: bold 12px georgia; margin: 10px; color:#fae2c9;}
#board .comandi a:hover, #board .comandi li.click>a {
 color:#997f64;
 text-shadow: 0 0 0.3em #997f64;
 }

.center p {  margin-bottom:2px; }
.center { 
 margin-left:auto;
 margin-right:auto;
 display:-moz-inline-stack;
 display:inline-block;
 position:relative; 
 zoom:1;
*display:inline;
}
 



#bacheca .argomento { font: bold 14px georgia; text-align:center; }
#bacheca .salutepost { color: #46B505; text-shadow: 0 0 0.09em #46B505;}
#bacheca .ambientepost { color: #005826; text-shadow: 0 0 0.09em #005826;}
#bacheca .culturapost { color: #855304; text-shadow: 0 0 0.09em #855304;}
#bacheca .sportpost { color: #1500FC; text-shadow: 0 0 0.09em #1500FC;}
#bacheca .donnapost { color: #FF85D2; text-shadow: 0 0 0.09em #FF85D2;}
#bacheca .intrattenimentopost { color: #00B1FC; text-shadow: 0 0 0.09em #00B1FC;}
#bacheca .gastronomiapost { color: #BA3902; text-shadow: 0 0 0.09em #BA3902;}
#bacheca .socialepost { color: #FFFFFF; text-shadow: 0 0 0.09em #FFFFFF;}
.voto {float:right; padding-top:10px;}
.descrizione { height: 45px; text-align:justify; font: 12px georgia;}
.visite { padding: 10px 0 10px 0;}
.nomedata {float:right; font: italic 12px georgia;}
.fotopost {margin-left:-2px;}
.periodo {text-align:center; font: 12px georgia; width:100%;}
.titolopost {
width:100%; 
font: bold 16px georgia; 
font-variant: small-caps; 
text-align:center;
}

.FlyOut ul {display: none; padding: 0; margin: 0; list-style-type: none; white-space: nowrap;}
.FlyOut li:hover>ul, .FlyOut li.click>ul {position: absolute; display: inline;}
.DropDown>li, .DropDown>li:hover>ul , .DropDown>li.click>ul {display: block; float: left;}
.DropDown>li {position:relative;}

#bacheca .bubble {top:calc(100% + 22px);}

.bachecaul li {padding-right:12px; margin: 5px 0 5px 0;}

#bacheca .bubble *{
color: #997f64; 
text-shadow: 0 0 0.083em #997f64;
font: 14px georgia;
}

#bacheca .freccia{background: #997f64;}
#bacheca .freccia:after {border-color: #997f64 transparent;}
#bacheca .freccia:before {border-color: #997f64 transparent;}

#board .bubble a{ 
color:#005826;  
text-shadow: 0 0 0.083em #005826;
font: 12px georgia;
}
#board .bubble {background: #fae2c9; border-color: #997f64; top:calc(100% + 24px); left: -8px;}
#board .bubble:after {border-color: #fae2c9 transparent;}
#board .bubble:before {border-color: #997f64 transparent;}

.bubble {
position: relative;
padding: 5px;
background: #fae2c9;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
border: #005826 solid 5px;
margin-top: 24px;
}

.bubble:after {
content: '';
position: absolute;
border-style: solid;
border-width: 0 8px 22px;
border-color: #fae2c9 transparent;
display: block;
width: 0;
z-index: 1;
top: -22px;
left: 17px;
}

.bubble:before {
content: '';
position: absolute;
border-style: solid;
border-width: 0 12px 26px;
border-color: #005826 transparent;
display: block;
width: 0;
z-index: 0;
top: -31px;
left: 13px;
}

.freccia{
position: absolute;
float:right;
right:0px;
width: 4px;
height: 6px;
padding: 0px;
background: #FFFFFF;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
}

.freccia:after {
content: '';
position: absolute;
border-style: solid;
border-width: 0 4px 5px;
border-color: #FFFFFF transparent;
display: block;
width: 0;
z-index: 1;
top: -4px;
left: -2px;
}

.freccia:before {
content: '';
position: absolute;
border-style: solid;
border-width: 5px 4px 0;
border-color: #FFFFFF transparent;
display: block;
width: 0;
z-index: 1;
bottom: -4px;
left: -2px;
}
