* {
 text-shadow: 0 0 0.083em #fae2c9;
 margin: 0;
 padding: 0;
 font-size: 100%;
 font-family:georgia;
 vertical-align: baseline;
}

html, body, #page {height:100%}
body { background-color:#fae2c9;}

.bottone { margin-top:20px; height:50px; width:60px; padding:5px;}

.registered a { text-decoration:none; }
.registered { display:none !important; width:390px;}
.unregistered {  /*display:none !important;*/}

.comandi{ margin-top: 20px;  text-align:center; width:100%;}
.comandi a { text-decoration: none; }
.comandi a:hover {cursor:pointer}

#bacheca * { text-shadow: 0 0 0.083em #997f64;}
#bacheca .comandi ul { margin:3px;}
#bacheca .comandi a { margin: 10px;font: bold 18px georgia; color:#997f64;}
#bacheca .comandi a:hover, #bacheca .comandi a.click{
 color:#005826;
 text-shadow: 0 0 0.3em #005826; 
}

#board .comandi { margin-top:23px;}
#board .comandi ul {  margin:1px;}
#board .comandi a { font: bold 12px georgia; margin: 10px; color:#fae2c9;}
#board .comandi a:hover, #board .comandi a.click {
 color:#997f64;
 text-shadow: 0 0 0.3em #997f64;
 }

.comandi * {  vertical-align: middle;}
.comandi img {  width:85%;}
 
.center p {  margin-top:6px; margin-bottom:2px; }
.center {  
 margin-left:auto;
 margin-right:auto;
 display:-moz-inline-stack;
 display:inline-block;
 zoom:1;
*display:inline;
}
 
#topbar {
 background-color:#005826;
 color:#fae2c9;
 text-align:center;
 padding-top:15px;
 padding-bottom: 10px;
 height: 90px;
}

#logo { float:left; margin-left:2%;}
#titoletto { font-size:12px; margin-top:3px;}

.login * { margin: 2px;}
.login  p { margin: 6px;}
.login {
  font:bold 12px georgia; 
	margin-right:2%;
 	float:right;
	text-align:center;
	width:200px;
}

h1 {
 padding-top: 15px;
 font:bold 36px georgia;
 font-variant:small-caps;
}

#bacheca {
 text-align: center;
 color:#997f64;
 margin-left:calc(2% + 200px);
 margin-right:calc(2% + 200px);
}

.sidebar {
 background-color:#005826;
 color:#fae2c9;
 width:200px;
 height:100%;
 margin-top:10px;
 padding-top: 20px;
 font:bolder 18px georgia;
 text-align:center; 
 border-top-left-radius:20px;
 border-top-right-radius:20px;
}

#sponsor {
 float:left;
 margin-left:2%;
}

#board {
 float:right;
 margin-right:2%;
}

.FlyOut ul {display: none; padding: 0; margin: 0; list-style-type: none; white-space: nowrap;}
.FlyOut li:hover>ul, .FlyOut li.click>ul {position: absolute; display: inline;}
.DropDown>li, .DropDown>li:hover>ul , .DropDown>li.click>ul {display: block; float: left;}

#bacheca .bubble a{
color:#997f64; 
text-shadow: 0 0 0.083em #997f64;
font: 14px georgia;
}
#board .bubble a{ 
color:#005826;  
text-shadow: 0 0 0.083em #005826;
font: 12px georgia;
}
#board .bubble {background: #fae2c9; border-color: #997f64;}
#board .bubble:after {border-color: #fae2c9 transparent;}
#board .bubble:before {border-color: #997f64 transparent;}

.bubble {
position: relative;
padding: 5px;
background: #fae2c9;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
border: #005826 solid 5px;
margin-top: 24px;
}

.bubble:after {
content: '';
position: absolute;
border-style: solid;
border-width: 0 8px 22px;
border-color: #fae2c9 transparent;
display: block;
width: 0;
z-index: 1;
top: -22px;
left: 17px;
}

.bubble:before {
content: '';
position: absolute;
border-style: solid;
border-width: 0 12px 26px;
border-color: #005826 transparent;
display: block;
width: 0;
z-index: 0;
top: -31px;
left: 13px;
}


