* {
 margin: 0;
 padding: 0;
 font-size: 100%;
 font-family:georgia;
 vertical-align: baseline;
}

html, body, #page {height:100%}
body { background-color:#fae2c9;}

.bottone { margin-top:20px; height:50px; width:60px; padding:5px;}

.registered a { text-decoration:none; }
.registered { display:none !important; width:390px;}
.unregistered {  /*display:none !important;*/}

.comandi{ margin-top: 20px;  text-align:center; width:100%;}
.comandi a { text-decoration: none; }
.comandi a:hover {cursor:pointer}

#bacheca .comandi ul {  margin:3px;}
#bacheca .comandi a {  margin:10px ; font: bold 18px georgia; color:#997f64;}
#bacheca .comandi a:hover { color:#005826;}

#board .comandi { margin-top:23px;}
#board .comandi ul {  margin:1px;}
#board .comandi a { font: bold 12px georgia; margin: 10px; color:#fae2c9;}
#board .comandi a:hover { color:#997f64;}

.comandi * {  vertical-align: middle;}
.comandi img {  width:85%;}
 
.center p {  margin-top:6px; margin-bottom:2px; }
.center {  
 margin-left:auto;
 margin-right:auto;
 display:-moz-inline-stack;
 display:inline-block;
 zoom:1;
*display:inline;
}
 
#topbar {
 background-color:#005826;
 color:#fae2c9;
 text-align:center;
 padding-top:15px;
 padding-bottom: 10px;
 height: 90px;
}

#logo { float:left; margin-left:2%;}
#titoletto { font-size:12px;}

.login * { margin: 2px;}
.login  p { margin: 6px;}
.login {
  font:bold 12px georgia; 
	margin-right:2%;
 	float:right;
	text-align:center;
	width:200px;
}

h1 {
 padding-top: 15px;
 font:bold 36px georgia;
 font-variant:small-caps;
}

#bacheca {
 text-align: center;
 color:#997f64;
 margin-left:calc(2% + 200px);
 margin-right:calc(2% + 200px);
}

.sidebar {
 background-color:#005826;
 color:#fae2c9;
 width:200px;
 height:100%;
 margin-top:10px;
 padding-top: 20px;
 font:bolder 18px georgia;
 text-align:center; 
 border-radius:20px; 
}

#sponsor {
 float:left;
 margin-left:2%;
}

#board {
 float:right;
 margin-right:2%;
}

.FlyOut ul {display: none; padding: 0; margin: 0; list-style-type: none; white-space: nowrap;}
.FlyOut li:hover>ul {position: absolute; display: inline;}
.DropDown>li, .DropDown>li:hover>ul {display: block; float: left;}
.ShowPath li:hover {background-color: red;}

.bubble {
position: relative;
padding: 5px;
background: #997f64;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 15px;
border: #005826 solid 5px;
margin-top: 29px;
}

.bubble:after {
content: '';
position: absolute;
border-style: solid;
border-width: 0 12px 25px;
border-color: #997f64 transparent;
display: block;
width: 0;
z-index: 1;
top: -25px;
left: 24px;
}

.bubble:before {
content: '';
position: absolute;
border-style: solid;
border-width: 0 16px 29px;
border-color: #005826 transparent;
display: block;
width: 0;
z-index: 0;
top: -34px;
left: 0px;
}


